@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:300");

@import "scss/article.scss";
@import "scss/header";
@import "scss/jumbotron";
@import "scss/sidebar";
@import "scss/sugestions";
@import "scss/mixins";

* {
  box-sizing: border-box;
}

#container {
  margin: auto;
  margin-top: -150px;
  background-color: white;
  transition: all 0.25s;
  @include flex(row, space-between, flex-start);
  &.not-full {
    width: 90%;
    border-radius: 12px;
    padding: 40px 8.5%;
  }
  &.full {
    width: 100%;
    border-radius: 0;
    padding: 40px 13.5%;
  }
}
