@import "scss/_variables.scss";

#header,
#header h1 {
  margin: 0;
}

#header h1 {
  padding: 10px 50px;
}

#jumbotron {
  width: 100vw;
  max-height: 700px;
  overflow: hidden;
}

#jumbotron img {
  width: 110%;
  position: relative;
  left: -5%;
  top: -100px;
  z-index: -10;
}

#container {
  width: 50%;
  max-width: 700px;
  margin: auto;
  margin-top: -50px;
  padding: 50px;
  background-color: white;
  border-radius: 12px 12px 0 0;
}

.flex {
  display: flex;
  align-items: center;
}

.round {
  border-radius: 50%;
}

.move-right {
  margin-left: auto;
}

.background {
  width: 250px;
}

.sidebar-container {
  background-color: yellow;
  padding: 20px;
  margin: 20px;
  position: relative;
  z-index: 0;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 75px;
  color: white;
  z-index: 5;
}

.sidebar-container *:not(.shadow) {
  z-index: 10;
}
