$color: (
    pure-black: #000,
    pure-white: #FFF,
    yellow: #F8E627,
    dark-yellow: #ECDA1F,
    dark-grey: #4A4A4A,
    medium-grey: #9B9B9B,
    light-grey: #DDE4E4,
    dark-blue: #3A405B
);

$fonts: (
    display: ('Montserrat', sans-serif),
    paragraph: ('Open Sans', sans-serif)
)